* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;

  margin-top: 50vh;

  transform: translateY(-50%);
}

.sound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  height: 70px;
  width: 100px;
  margin: 0 1rem;
  transition: all 0.07s;
}

.letter {
  font-size: 1.8rem;
  color: white;
}

.type {
  color: gold;
}

.playing {
  transform: scale(1.1);
  border-color: gold;
  box-shadow: 0 0 10px gold;
}
